<template>
  <div class="container">
    <h2 class="text-center">Formulário</h2>
    <p 
    v-if="message"
    :class="`alert ${this.error ? 'alert-danger' : 'alert-primary'}`"
    >{{this.message}}</p>
    
    <form @submit.prevent="verifica">
      <div class="form-group">
        <label for="ladoA">Valor do Lado A</label>
        <input class="form-control" id="ladoA" placeholder="Informe a medida do lado a" v-model="lados.a">
      </div>
      <div class="form-group">
        <label for="ladoB">Valor do Lado B</label>
        <input class="form-control" id="ladoB" placeholder="Informe a medida do lado b" v-model="lados.b">
      </div>
      <div class="form-group">
        <label for="ladoC">Valor do Lado C</label>
        <input class="form-control" id="ladoC" placeholder="Informe a medida do lado a" v-model="lados.c">
      </div>

      <button
      type="submit"
      class="btn btn-primary"
      >
      Verificar
      </button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      lados: {
        a: 0,
        b: 0,
        c: 0
      },
      message: '',
      error: false,
    }
  },

  methods: {
    
    verifica() {
      let a = parseInt(this.lados.a);
      let b = parseInt(this.lados.b);
      let c = parseInt(this.lados.c);

      window.console.log(typeof(a))
      window.console.log(typeof(b))
      window.console.log(typeof(c))
      if(a == 0 || b == 0 || c == 0) {
        this.message = 'Valores nulos não são aceitos !';
        this.error = true;
      } else if (a > b + c || b > a + c || c > a + b) {
        this.message = 'Triângulo inexistente !';
        this.error = true;
      } else if (a == b && a == c) {
        this.message = 'Triângulo equilátero !';
        this.error = false;
      } else if (a == b || a == c || b == c) {
        this.message = 'Triângulo escaleno !';
        this.error = false;
      } else if (a != b && a != c && b != c) {
        this.message = 'Triângulo isósceles !';
        this.error = false;
      }
    },


  }
} 
</script>

<style>
</style>
